* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.bg-estu {
  background-color: #870c0c;
}
.estu-color {
  color: #870c0c;
}

.active {
  background-color: #870c0c !important;
  border-color: #870c0c !important ;
}

.list-group-item:hover {
  color: #870c0c !important;
}
.active:hover {
  color: #e9e9e9 !important;
}
.btn-outline-secondary {
  border: 1px solid #870c0c !important;
  color: #870c0c !important;
}
.btn-outline-secondary:hover {
  color: #fff !important;
  background-color: #870c0c !important;
}
.transition {
  transition: 0.7s;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.card img {
  transition: 0.7s;
}
.card img:hover {
  transform: scale(1.15);
}

figure img:hover {
  transform: scale(1.1);
}

.read-more-state {
  display: none;
}
.read-more-target {
  max-height: 0;
  opacity: 0;
  font-size: 0;
  transition: 0.5s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
}
.read-more-state ~ .read-more-button:before {
  content: "Read more";
}
.read-more-state:checked ~ .read-more-button:before {
  content: "Read less";
}
